name: docforge
description: DocForge PDF Toolkit
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_riverpod: ^2.5.1
  go_router: ^14.2.0
  #file_picker: 5.5.0
  syncfusion_flutter_pdf: ^24.2.8
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/pdfs/sample1.pdf
    - assets/pdfs/sample2.pdf